.carousel {
  height: inherit;
}

.carousel.carousel-slider {
  max-height: 500px;
}

.carousel .slide:first-of-type::before {
  content: "Welcome to Pocket Pantry";
  font-size: 2.27rem;
  color: #ffffff;
  background-color: #ff4301;
  box-shadow: 7px 7px 0 #ffd9cc;
  position: absolute;
  padding: 0 20px;
  bottom: 390px;
  right: 200px;
}

.carousel .slide:nth-child(2)::before {
  content: "Your next meal is already here!";
  font-size: 2.27rem;
  color: #ffffff;
  background-color: #ff4301;
  box-shadow: 7px 7px 0 #ffd9cc;
  position: absolute;
  padding: 0 20px;
  top: 90px;
  right: 200px;
}

.carousel .slide:last-of-type::before {
  content: "And we're here to help you find it.";
  font-size: 2.27rem;
  color: #ffffff;
  background-color: #ff4301;
  box-shadow: 7px 7px 0 #ffd9cc;
  position: absolute;
  padding: 0 20px;
  top: 200px;
  left: 200px;
}

@media only screen and (max-width: 1100px) {

  .carousel .slide:first-of-type::before {
    bottom: 100px;
    right: 100px;
  }
  .carousel .slide:nth-child(2)::before {
    top: 70px;
    right: 100px;
  }
}

@media only screen and (max-width: 840px) {
  
  .carousel .slide:nth-child(2)::before {
    top: 170px;
    right: 100px;
  }

  .carousel .slide:last-of-type::before {
    top: 250px;
    left: 120px;
  }
}


@media only screen and (max-width: 777px) {

  .carousel .slide:first-of-type::before, .carousel .slide:nth-child(2)::before, .carousel .slide:last-of-type::before  {
    font-size: 1.7rem;
  }

  .carousel .slide:first-of-type::before {
    bottom: 70px;
    right: 100px;
  }

  .carousel .slide:nth-child(2)::before {
    top: 100px;
    right: 70px;
  }

  .carousel .slide:last-of-type::before {
    left: 45px;
    top: 150px;
  }

  .g-buttons button:last-of-type {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 670px) {

  .carousel .slide:nth-child(2)::before {
    top: 150px;
    right: 70px;
  }
}

@media only screen and (max-width: 514px) {
  .carousel .slide:first-of-type::before, .carousel .slide:nth-child(2)::before, .carousel .slide:last-of-type::before  {
    font-size: 1.57rem;
  }

  .carousel .slide:first-of-type::before {
    bottom: 100px;
    right: 120px;
  }

  .carousel .slide:nth-child(2)::before {
    top: 150px;
    right: 60px;
  }

  .carousel .slide:last-of-type::before {
    left: 45px;
  }

  .g-buttons button:last-of-type {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 455px) {
  .carousel .slide:first-of-type::before, .carousel .slide:nth-child(2)::before, .carousel .slide:last-of-type::before  {
    font-size: 1.2rem;
  }

  .carousel .slide:first-of-type::before {
    right: 120px;
    bottom: 50px;
  }

  .carousel .slide:nth-child(2)::before {
    top: 120px;
    right: 60px;
  }

  .carousel .slide:last-of-type::before {
    left: 45px;
    top: 130px;
  }

  .g-buttons button:last-of-type {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .carousel .slide:first-of-type::before, .carousel .slide:nth-child(2)::before, .carousel .slide:last-of-type::before  {
    font-size: 1.1rem;
  }

  .carousel .slide:first-of-type::before {
    bottom: 100px;
    right: 120px;
  }

  .carousel .slide:nth-child(2)::before {
    top: 100px;
    right: 60px;
  }

  .carousel .slide:last-of-type::before {
    left: 45px;
  }

  .g-buttons button:last-of-type {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel .slide:first-of-type::before, .carousel .slide:nth-child(2)::before, .carousel .slide:last-of-type::before  {
    font-size: .8rem;
  }

  .carousel .slide:first-of-type::before {
    bottom: 40px;
    right: 120px;
  }

  .carousel .slide:nth-child(2)::before {
    top: 105px;
    right: 100px;
  }

  .carousel .slide:last-of-type::before {
    left: 10px;
    top: 105px;
  }

  .g-buttons button:last-of-type {
    margin-top: 10px;
  }
}