.navbar-area {
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: 2s;
}

nav {
  background-color: #141414;
}

.brand-logo {
  background-image: url("pp_logo.png");
  width: 100%;
  background-size: 20%;
  background-repeat: no-repeat;
  height: 135px;
}