.pp-foh h1 {
  font-size: 2.2rem;
  color: #ff4301;
}

.pp-foh h2 {
  font-size: 1.56rem;
  color: #ff4301;
}

.pp-foh-list {
  display: block;
}

.pp-foh-controls {
  margin-top: 20px;
}

button.pp-red, button.pp-red:active, button.pp-red:focus {
  background-color: #ff4301;
  box-shadow: 7px 7px 0 #ffd9cc;
}

button.pp-foh-search {
  margin-left: 50px;
}

button.pp-foh-add {
  margin-left: 25px;
}

.pp-foh-items {
  margin-top: 0;
}

.pp-foh-items li {
  position: relative;
  padding: 10px 0;
}

button.pp-foh-remove {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: -20px;
  box-shadow: 2px 2px 0 #ffd9cc;
}

button.pp-foh-remove i {
  color: #ffffff;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

button.pp-red:hover  {
  background-color: #000000;
  box-shadow: 7px 7px 0 #ffd9cc;
}

input[type=text].pp-foh-text, input[type=text]:not(.browser-default):focus:not([readonly]) {
  line-height: 2.1;
  width: 100%;
  box-shadow: 7px 7px 0 #ffd9cc;
  border: 1px solid #c7c7c7;
  height: inherit;
  padding-left: 10px;
  color: #575859;
  font-size: 1.7rem;
}