.pp-fd::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(food-display-bg.png) no-repeat center center;
  content: "";
  background-attachment: fixed;
}

.pp-fd {
    background: #f7f7f7;
    position: relative;
    /* padding-top: 145px; */
    padding-bottom: 95px;
}

.pp-fd h1 {
  font-size: 2.2rem;
  color: #ff4301;
}

.pp-fd h2 {
    font-size: 1.56rem;
    color: #ff4301;
}

.pp-fd .container {
  position: relative;
}

.pp-fd-results::before {
  background: #333333 none repeat scroll 0 0;
  content: "";
  height: 170%;
  position: absolute;
  right: -25%;
  top: -69%;
  transform: rotate(-34deg);
  width: 70%;
}

.pp-fd-results {
  background: #fff none repeat scroll 0 0;
  height: 240px;
  line-height: 233px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  border: 2px solid transparent;
  transition: .4s;
}

.pp-fd-results:hover {
  border: 2px solid #ff4301;
}

.pp-fd-results:hover .pp-fd-link {
  left: 10%;
}

.pp-fd-results img, .pp-fd-results div {
  display: inline-block;
  vertical-align: middle;
}

.pp-fd-icon {
  position: absolute;
  right: 15px;
}

.pp-fd-link {
  left: -250%;
  position: absolute;
  top: 0;
  transition: .4s;
}


.pp-fd-link a {
    background: #ff4301 none repeat scroll 0 0;
    -webkit-box-shadow: 8px 8px 0px rgba(255, 67, 1, 0.2);
    -moz-box-shadow: 8px 8px 0px rgba(255, 67, 1, 0.2);
    box-shadow: 8px 8px 0px rgba(255, 67, 1, 0.2);
    color: #fff;
    display: inline-block;
    line-height: normal;
    padding: 8px 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

.pp-fd-link .hidden-link {
  display: none;
}

@media only screen and (max-width: 850px) {
  .pp-fd-results div.pp-fd-icon {
      display: none;
  }
}

@media only screen and (max-width: 600px) {
  .pp-fd-results div.pp-fd-icon {
      display: inline-block;
  }
}

/* @media only screen and (max-width: 1570px) and (min-width: 1470px) {
  .pp-fd-icon {
      left: 100px;
  }
}

@media only screen and (max-width: 1469px) and (min-width: 1370px) {
  .pp-fd-icon {
      left: 70px;
  }
}

@media only screen and (max-width: 1369px) and (min-width: 1170px) {
  .pp-fd-icon {
      left: 10px;
  }
}

@media only screen and (max-width: 1169px) and (min-width: 992px) {
  .pp-fd-icon {
display: none;
  }
} */